
<div class="container">
  <img src="\assets\images\cover-image.png" style="width: 40%;">
</div>

<h1>
  Rayana Vital Front End Developer
</h1>

<img
src="\assets\images\profile-pic-round.png" alt= "personal photo" style="width: 80px;">

<p>
  Olá, meu nome é Rayana Vital, soteropolitana, desenvolvedora front end junior.
</p>

<h2>
  Skills:
</h2>
<p>
  Angular, HTML, CSS, Javascript, Testes Unitários Karma/Jasmine
</p>
<h2>
  Soft Skills
</h2>
<p>
  Inglês avançado, excelente comunicação e habilidade de trabalhar em equipe.
</p>

<a href="https://github.com/rayanavital">Github</a>
<br>
<a href="https://www.linkedin.com/in/rayanavital/">Linkedin</a>


<h3>Contato</h3>
<p>rayanavital@gmail.com</p>
